<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="geotagging.app"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".GeotaggingMap"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".GeotaggingResponseList" android:label="GeotaggingResponseList"
			android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <activity android:name=".GeotaggingEnteringInformation" android:label="GeotaggingEnteringInformation"
			android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
            </intent-filter>
        </activity>
        
        <activity android:name=".GeotaggingCommentsType" android:label="GeotaggingCommentsType"
			android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <activity android:name=".GeotaggingListofEntities" android:label="GeotaggingListofEntities"
			android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        
        <activity android:name=".GeotaggingEntityInformation" android:label="GeotaggingEntityInformation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		
		<activity android:name=".GeotaggingEntityListOfProblems" android:label="GeotaggingEntityListOfProblems">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		
		<activity android:name=".GeotaggingEntityProblem" android:label="GeotaggingEntityProblem">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		
		<activity android:name=".GeotaggingEntityResponse" android:label="GeotaggingEntityResponse">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
        
		<uses-library android:name="com.google.android.maps" />
    </application>
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>